<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>What to drink</title>
</head>
<body>
<p th:text="'Information'" ></p>
<p th:text="'Nutrition Store'" ></p>
<form th:action="@{/nutritionstore}" th:object="${myfox}" method="post">
    <select id="food" name="food">
        <option value="NONE">--- Select Food---</option>
        <option value="Pizza">Pizza</option>
        <option value="Burger">Burger</option>
        <option value="Banana">Chips</option>
        <option value="Apple">Apple</option>
    </select>
    <select id="drink" name="drink">
        <option value="NONE">--- Select Drink ---</option>
        <option value="Coke">Coke</option>
        <option value="Coffee">Coffee</option>
        <option value="Tea">Tea</option>
        <option value="Beer">Beer</option>
    </select>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>